.container {
  width: 710px;
}

body {
  background: #fff;
}

header {
  padding-top: 20px;
}

header img {
  padding: 0.5em;
  background: #fff;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  width: 150px;
  height: auto;

}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
	font-size:200%;
}


/* General Links actions*/

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: black;
  text-decoration: underline;
}


/* Upper Navigation bar attributes*/

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #000;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* main nav bar attributes*/

.main_nav {
	text-align: center;
	background-color: #575757;
	text-decoration: none;
	color: #fff;
	font-size:110%;
	font-weight: bold;
	height: auto;
	border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
	
}

.main_nav {
	float: none;
}

.main_nav a {
  display:block;
/*  background-color:#575757;*/
  color: #fff;
  text-decoration: none;
  padding-left:5px;
  padding-right:5px;
}

.main_nav a:hover {
  background-color: #212121;
  text-decoration: none;
}

.main_nav a:visited {
 color:#fff;
}




/*Footer nav bar*/
footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}







