<footer>
  <nav class="footer">
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://dentaltown.com/">News</a></li>
      <li><%= link_to "Support", '#'%></a></li>
    </ul>
  </nav>
</footer>