 <header>
    <%= image_tag("20110301_parthenon_logo.png", :alt => "PDL", :class => "round", :title =>"PDL") %>
    <nav class="uppernav">
      <ul>
        <li><%= link_to "Home", '#' %></li>
        <li><%= link_to "Help", '#' %></li>
        <li><%= link_to "Sign in", '#' %></li>
      </ul>
    </nav>
  </header>